/* The visible portion of the header should have a height of 400px and be 100% the width of its parent container
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
The name should be centered below the avatar
The background-color should be a different colour than the nav and the body */

.main-header {
  display: flex;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #94c7d4;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  margin-top: 120px;
}